logs/
target/
/.idea
*.iml
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
/lib/
/modules
/project/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.sbtserver
libexec/
notes.txt
